*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  width: 1280px;
  height: 769px;

  left: 50%;
  top:10px;
  transform: translateX(-50%);
  border: 2px solid #3a9215;
  
  display: grid;
  grid-template-columns: 660px 620px;
  grid-template-rows: repeat(6, 110px);
}

#filtro {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg,#00BFFF, #00BFFF00);
  color: transparent;
}

#foto {
  grid-column: 2/3;
  grid-row: 1/7;
  position: relative;
  top: 60px;
  left:0px;
  z-index: 1;
}

#title {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 .5rem #fff, 0 0 .5rem #fff;
  z-index: 1;
}

#description {
  margin-left: 5rem;
  margin-top: 8rem;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  text-shadow: 0 0 .5rem #fff, 0 0 .5rem #fff;
}

#logos {
  grid-row: 6/7;
  margin-left: 2rem;
}

#logos img {
  margin-top: 3rem;
  margin-right: 4.5rem;
}